/* style.css */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles for specific sections */
#home {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: larger;
}

#about {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    font-size: larger;
}

#projects {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.project {
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project p {
    margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
